body {
  margin: 0;
  scrollbar-width: none;
  font-family:'Noto Sans KR', sans-serif;
}
@font-face {
  font-family: 'SUIT-Heavy';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Heavy.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
canvas {
  width: 0vw;
  display: block;
  position: fixed;
  top: 0px;
}
#intro{
  position: fixed;
  top: 0;
  height: 100%;
  width: 42vw;
  z-index: 20;
  margin-left: 10vw;
}
::-webkit-scrollbar {
  display: none; 
}
#title{
  width: 100vw;
 height: 100vh;
}
#innerintro{
  width: 100%;
  position: absolute;
  font-family: 'SUIT-Heavy';
  font-size: 7vw;
  color: white;
  line-height: 7vw;
  bottom: 0;
  margin-bottom: 43vh;
}
#first{
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: white;
  top:110vh;
  z-index: 30;
}
#header{
  width: 100%;
  z-index: 30;
  height: 60px;
  padding: 1rem;
  background-blend-mode:difference;
  opacity: 90%;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.header{
  width: 100%;
  z-index: 20;
  height: 60px;
  padding: 1rem;
  color: black;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}
#backheader{
  width: 100%;
  z-index: 50;
  height: 60px;

}

#header li{
  border-left: 1px solid #c0c0c0;
  padding: 0px 20px 0px 20px;
  margin: 10px 100px 10px 100px;
}
.header li{
  border-left: 1px solid #c0c0c0;
  padding: 0px 20px 0px 20px;
  margin: 10px 100px 10px 100px;
}
* {
  box-sizing: border-box;
}