body {
  margin: 0;
  scrollbar-width: none;
  font-family:'Noto Sans KR', sans-serif;
  overflow-y: scroll;
}
@font-face {
  font-family: 'SUIT-Heavy';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Heavy.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
canvas {
  width: 0vw;
  position:fixed;
  top:0;
}
#intro{
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  z-index: 20;
  margin-left: 10vw;
}
::-webkit-scrollbar {
  display: none; 
}
#title{
  position: absolute;
  top:0;
  display: flex;
  align-items: center;
  z-index: 20;
  width: 100vw;
 height: 100vh;
}
#innerintro{
  width: 100%;
  position: relative;
  flex:inherit;
  font-family: 'SUIT-Heavy';
  font-size: 6vw;
  color: white;
  line-height: 6vw;
}
#first{
  height: 200vh;
  width: 100vw;
  position: relative;
  background-color: white;
  z-index: 30;
  top:110vh;
}
nav{
  width: 100%;
  z-index: 90;
  height: 60px;
  background-color: #8076a2;
  opacity: 80%;
  color: white;
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top:0;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0px 5px 10px #736f96;
}
.navbar-custom {
  width: 100px;
  background-color:#8076a2;
}
.navbar-nav .navtext:hover {
  background-color:#5d597c;
}
.navbar{
  padding: 0;
  display: flex;
  align-items: center;
}
.navbutton{

}

@media screen and (min-width: 572px) { 
  .navbutton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
    padding: 0;
    width: 50px;
    height: 50px;
    right: 0px;
  }
  #innerintro{
    width: 100%;
    position: relative;
    flex:inherit;
    font-family: 'SUIT-Heavy';
    font-size: 6vw;
    color: white;
    line-height: 6vw;
  }
}
@media screen and (max-width: 572px) { 
  .navbutton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
    width: 50px;
    height: 50px;
    right: 0px;
  }
  #innerintro{
    width: 45vw;
    position: relative;
    flex:inherit;
    font-family: 'SUIT-Heavy';
    font-size: 15vw;
    color: white;
    line-height: 17vw;
  }
}



.line {
  fill: none;
  stroke: rgb(255, 255, 255);
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
